@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-one: #1f4b43;
    --bg-two: #e7c873;
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;

    &-location {

        width: 20px;
        height: 20px;
        background-image: url(../img/icon/location.svg);
    }

    &-bad {
        width: 20px;
        height: 20px;
        background-image: url(../img/icon/bad.svg);
    }

    &-shower {
        width: 20px;
        height: 20px;
        background-image: url(../img/icon/shower.svg);
    }

    &-metre {
        width: 20px;
        height: 20px;
        background-image: url(../img/icon/metre.svg);
    }

    &-kalp {
        width: 20px;
        height: 20px;
        background-image: url(../img/icon/kalp.svg);

    }



    &-social {

        &-facebook {
            background-image: url(../img/icon/facebook.svg);
        }

        &-twitter {
            background-image: url(../img/icon/twitter-x.svg);
        }

        &-instagram {
            background-image: url(../img/icon/instagram.svg);
        }

        &-linkedin {
            background-image: url(../img/icon/linkedin.svg);
        }

    }
}

.navbar {

    border-radius: 16px !important;

    @media (min-width: 992px) {
        border-radius: 69px !important;
    }

}

.hero-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-foto {
        min-width: 100%;
        width: 100%;
        background-color: #c0cbc9;
        min-height: 100dvh;
        object-fit: cover;

        @media (min-width: 992px) {
            min-height: 400px;
        }
    }




    &-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &-one {
            color: var(--bg-one);
            border: 2px solid var(--bg-one);
            border-radius: 40px;
            padding: 15px 25px;
            text-align: center;
            font-weight: 600;
        }

        &-two {
            color: var(--bg-one);
            font-size: 4rem;
            font-weight: 600;

        }

        &-three {
            color: var(--bg-one);
        }

        &-description {
            color: #FFFFFF;
            font-size: 1rem;
            font-weight: 600;

        }

        &-search {
            position: relative;
            width: 90%;

            input {
                border: none;
                outline: none;
                border-radius: 70px;
                color: #1a1a1a;
                padding: 25px 30px;
                width: 100%;
            }

            button {
                position: absolute;
                right: 5px;
                top: 5px;
                width: 64px;
                height: 64px;
                outline: none;
                border: none;
                background-color: var(--bg-two);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;

                .icon-search {
                    background-image: url(../img/icon/search.svg);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }



        &-tag {
            display: flex;
            align-items: center;
            justify-content: center;

            gap: 10px;




            &-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                background-color: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(5px);
                border-radius: 70px;
                height: 50px;
                padding: 5px;


                .tag-icon {
                    background-color: #ffffff;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                }
            }



            span {
                color: #111111;


            }


        }
    }

    &-image {
        min-width: 100%;
        width: 100%;
        min-height: 400px;
        background-color: #C0CBC9;
    }

}























:root {
    --card-radius: 12px;
}

img {
    max-width: 100%;

}

.work-card {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;

}

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-tag {
        position: absolute;
        top: 25px;
        left: 25px;

        span {
            font-size: 2rem;
            border-radius: 3px;

            .bg-green {
                background-color: #1F4B43;
                color: #FFFFFF;
            }

            .bg-gold {
                background-color: #e7c873;
                color: #1A1A1A;

            }
        }
    }

    &-content {

        position: absolute;
        bottom: 25px;
        left: 25px;
        right: 25px;
        padding: 20px;
        width: calc(100% - 50px);
        border-radius: 8px;
        z-index: 1;


    }

    &-image {
        width: 100%;

        img {
            max-width: 100%;
            min-width: 100%;
        }


    }
}


.how-it-work {

    &-card {



        &-one {
            position: relative;
            margin-bottom: (10px);


            img {
                border-radius: var(--card-radius);
                width: 100%;
                max-height: 210px;
                min-width: 210px;
                object-fit: cover;
                object-position: top;
            }

            &-content {

                position: absolute;
                display: flex;
                background-color: #e6e63ad3;

                border-radius: var(--card-radius);
                right: 50px;
                bottom: 0;
                transform: translateY(50%);
                align-items: center;
                padding: 5px;
                gap: 5px;

                &-icon {
                    height: 33PX;
                    width: 33PX;
                    border-radius: 40px;
                    background-color: #1f4b43;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        &-two {

            img {
                object-fit: cover;
                border-radius: var(--card-radius);


            }
        }

        &-three {

            img {

                object-fit: cover;
                border-radius: var(--card-radius);
            }
        }

    }
}

.product-card {
    position: relative;
    margin-bottom: 4rem;

    &-tag {
        position: absolute;
        left: 25px;
        top: 25px;
        display: flex;
        gap: 15px;

        span {
            font-size: medium;
            border-radius: 30px;
            padding: 8px 10px;
            text-transform: uppercase;
            font-weight: 600;

            &.bg-one {
                background-color: var(--bg-one);
                color: #ffffff;
            }

            &.bg-two {
                background-color: var(--bg-two);
                color: #1a1a1a;
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        position: absolute;
        bottom: 25px;
        left: 25px;
        right: 25px;
        padding: 20px;
        width: calc(100% - 50px);
        border-radius: 8px;

        &-title {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 100%;
            color: #1a1a1a;
        }

        &-location {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #1a1a1a;

            .icon-location {
                background-image: url("../img/icon/Vector1.svg");
                width: 20px;
                height: 20px;
            }
        }

        &-price {
            display: flex;
            align-items: flex-end;
            font-size: 1.1rem;
            color: #eb664e;
            font-weight: 600;
        }

        &-property {
            display: flex;
            align-items: center;
            gap: 5px;

            &:not(:last-child) {
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid #e9e9e9;
            }

            .icon {
                width: 20px;
                height: 20px;

                &-bad {
                    background-image: url("../img/icon/Vector2.svg");
                }

                &-shower {
                    background-image: url("../img/icon/Vector1.svg");
                }

                &-square {
                    background-image: url("../img/icon/Vector3.svg");
                }
            }
        }
    }

    &-image {
        img {
            max-width: 100%;
            border-radius: 12px;
        }
    }
}

.find-property-card {
    position: relative;

    &-content {
        background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 16px;
        padding: 25px;

        span {
            color: #ffffff;
            line-height: 100%;
        }
    }

    img {
        max-width: 100%;
        height: 100%;
        border-radius: 16px;
    }
}

.swiper-pagination {
    &-bullet {
        background-color: #122223;
        width: 8px;
        height: 8px;
        border-radius: 50%;

        &-active {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                border-radius: 50%;
                border: 1px solid #122223;
                width: 18px;
                height: 18px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}


.how-it-work {
    --card-radius: 12px;

    &-card {
        &-one {
            position: relative;
            margin-bottom: 24px;

            &-content {
                background-color: #ffffff;
                position: absolute;
                border-radius: var(--card-radius);
                right: 50px;
                bottom: 0;
                transform: translateY(50%);
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;

                &-icon {
                    background-color: var(--bg-one);
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            img {
                border-radius: var(--card-radius);
                width: 100%;
                max-height: 210px;
                min-height: 210px;
                object-fit: cover;
                object-position: top;
            }
        }

        &-two {
            img {
                width: 100%;
                border-radius: var(--card-radius);
                aspect-ratio: 1;
                object-fit: cover;
            }
        }

        &-three {
            img {
                width: 100%;
                height: 100%;
                border-radius: var(--card-radius);
                object-fit: cover;
                aspect-ratio: 1 / 1.1;
            }
        }
    }

    &-property {
        display: flex;
        gap: 20px;

        &-icon {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: var(--bg-two);
                z-index: -1;
                transform: translate(-35%, 50%);
                transition: all 250ms;
            }

            .icon {
                display: block;
                width: 35px;
                height: 35px;

                &-home {
                    background-image: url("../img/icon/Vector1.svg");
                }

                &-meet {
                    background-image: url("../img/icon/Vector2.svg");
                }

                &-key {
                    background-image: url("../img/icon/Vector3.svg");
                }
            }
        }

        &:hover &-icon::before {
            background-color: #ffe59c;
        }
    }
}

.bg {
    &-discovery {
        background-size: cover;
        position: relative;
        background-image: url(../img/image/12.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;

    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        background-color: rgba(255, 255, 255, 0.5);

    }
}

.for-these-cities {

    &-image {

        &-big {
            position: relative;



            &-content {
                position: absolute;
                display: flex;
                color: #FFFFFF;
                font-size: large;
                font-weight: 450;

                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 12px;
                left: 5%;
                right: 5%;
                bottom: 5%;
                width: calc(100% - 40px);
                backdrop-filter: blur(5px);
                flex-direction: column;
                padding: 5%;
            }
        }

        &-small {

            position: relative;


            &-content {
                position: absolute;
                display: flex;
                color: #FFFFFF;
                font-size: large;
                font-weight: 450;

                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 12px;
                left: 5%;
                right: 5%;
                bottom: 5%;
                width: calc(100% - 40px);
                backdrop-filter: blur(5px);
                flex-direction: column;
                padding: 2.5%;



            }
        }

        &-big,
        &-small {

            img {

                display: flex;
                max-width: 100%;
                min-width: 100%;
                object-fit: cover;
                border-radius: 16px;
            }
        }
    }
}

.property-card {

    &-image {

        position: relative;

        img {
            border-radius: 16px 16px 0 0;
        }

        &-tag {
            position: absolute;
            display: flex;
            left: 15px;
            top: 15px;
            gap: 8px;


            span {

                font-size: medium;
                border-radius: 30px;
                padding: 8px 10px;
                text-transform: uppercase;
                font-weight: 600;

                &.bg-one {
                    background-color: var(--bg-one);
                    color: #ffffff;
                }

                &.bg-two {
                    background-color: var(--bg-two);
                    color: #1a1a1a;
                }

            }
        }
    }


    &-content {
        font-weight: 400;

        padding: 20px;

        &-top {

            border: 2px solid#ffffff;
            padding-bottom: 10px;

            &-title {
                margin-bottom: 15px;

                span {
                    font-weight: 600;
                    font-size: 1.1rem;
                }
            }

            &-location {
                margin-bottom: 15px;
                display: flex;
                gap: 8px;
            }

            &-features {
                display: flex;
                align-items: center;
                justify-content: center;

                &-one {
                    display: flex;
                    gap: 8px;
                    border: 1px solid #969696;
                    border-radius: 25px;
                    padding: 8px;
                    width: calc(100% - 200px);

                }

                &-two {
                    display: flex;
                    gap: 8px;
                    border: 1px solid #969696;
                    border-radius: 25px;
                    padding: 8px;
                    width: calc(100% - 200px);
                }

                &-three {
                    display: flex;
                    gap: 8px;
                    border: 1px solid #969696;
                    border-radius: 25px;
                    padding: 8px;
                    width: calc(100% - 200px);
                }

            }
        }

        &-bottom {

            &-price {
                color: red;

                strong {
                    font-weight: 700;
                    font-size: large;
                }
            }
        }
    }
}

.football-card {

    border: 1px solid #969696;
    position: relative;

    &-image {

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            overflow: hidden;
            border-radius: 25px;
        }
    }

    &-desc {
        position: absolute;
        display: flex;

        &-NAME {
            span {
                font-size: medium;
                border-radius: 30px;
                padding: 8px 10px;
                text-transform: uppercase;
                font-weight: 600;
            }

        }
    }



}

.product-card {
    position: relative;
    margin-bottom: 1.5rem;
    &-tag {
        position: absolute;
        left: 25px;
        top: 25px;
        display: flex;
        gap: 10px;
        span {
            border-radius: 30px;
            padding: 5px 12px;
            text-transform: uppercase;
            font-weight: 600;
            &.bg-one {
                background-color: var(--bg-one);
                color: #ffffff;
            }
            &.bg-two {
                background-color: var(--bg-two);
                color: #1a1a1a;
            }
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        position: absolute;
        bottom: 25px;
        left: 25px;
        right: 25px;
        padding: 20px;
        width: calc(100% - 50px);
        border-radius: 8px;
        &-title {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 100%;
            color: #1a1a1a;
        }
        &-location {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #1a1a1a;
            .icon-location {
                background-image: url("../img/icon/location.svg");
                width: 20px;
                height: 20px;
            }
        }
        &-price {
            display: flex;
            align-items: flex-end;
            font-size: 1.1rem;
            color: #eb664e;
            font-weight: 600;
        }
        &-property {
            display: flex;
            align-items: center;
            gap: 5px;
            &:not(:last-child) {
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid #e9e9e9;
            }
            .icon {
                width: 20px;
                height: 20px;
                &-bad {
                    background-image: url("../img/icon/bad.svg");
                }
                &-shower {
                    background-image: url("../img/icon/shower.svg");
                }
                &-square {
                    background-image: url("../img/icon/square.svg");
                }
            }
        }
    }
    &-image {
        img {
            min-width: 100%;
            width: 100%;
            border-radius: 12px;
        }
    }
}

.find-property-card {
    position: relative;
    &-content {
        background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 16px;
        padding: 25px;
        span {
            color: #ffffff;
            line-height: 100%;
        }
    }
    img {
        max-width: 100%;
        height: 100%;
        border-radius: 16px;
    }
}

.swiper-pagination {
    &-bullet {
        background-color: #122223;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        &-active {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                border-radius: 50%;
                border: 1px solid #122223;
                width: 18px;
                height: 18px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.how-it-work {
    --card-radius: 12px;
    &-card {
        &-one {
            position: relative;
            margin-bottom: 24px;
            &-content {
                background-color: #ffffff;
                position: absolute;
                border-radius: var(--card-radius);
                right: 50px;
                bottom: 0;
                transform: translateY(50%);
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;
                &-icon {
                    background-color: var(--bg-one);
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            img {
                border-radius: var(--card-radius);
                width: 100%;
                max-height: 210px;
                min-height: 210px;
                object-fit: cover;
                object-position: top;
            }
        }
        &-two {
            img {
                width: 100%;
                border-radius: var(--card-radius);
                aspect-ratio: 1;
                object-fit: cover;
            }
        }
        &-three {
            img {
                width: 100%;
                height: 100%;
                border-radius: var(--card-radius);
                object-fit: cover;
                aspect-ratio: 1 / 1.1;
            }
        }
    }
    &-property {
        display: flex;
        gap: 20px;
        &-icon {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: var(--bg-two);
                z-index: -1;
                transform: translate(-35%, 50%);
                transition: all 250ms;
            }
            .icon {
                display: block;
                width: 35px;
                height: 35px;
                &-home {
                    background-image: url("../img/icon/home.svg");
                }
                &-meet {
                    background-image: url("../img/icon/meet.svg");
                }
                &-key {
                    background-image: url("../img/icon/key.svg");
                }
            }
        }
        &:hover &-icon::before {
            background-color: #ffe59c;
        }
    }
}

.should-work {
    background-color: #fff8f6;
    &-image {
        border-radius: 16px;
        overflow: hidden;
        &:hover img {
            transform: scale(1.1);
        }
        &-one {
            margin-bottom: 24px;
        }
        &-two {
            margin-top: 120px;
        }
        img {
            width: 100%;
            height: 100%;
            transition: all 250ms;
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: var(--bg-two);
            border-radius: 16px;
            padding: 24px;
            margin-left: 100px;
            &-icon {
                background-color: var(--bg-one);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }
    }
    &-content {
        &-icon {
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            .icon-check {
                width: 15px;
                height: 15px;
            }
        }
    }
}

.blog-card {
    &-content {
        white-space: nowrap; /* alt satıra inme */
        overflow: hidden; /* taşan kısımları gizle */
        text-overflow: ellipsis; /* devamı varsa sonuna üç nokta */
    }
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &-discovery {
        background-image: url("../img/background/discovery.jpg");
        background-attachment: fixed;
        position: relative;
        &::after {
            content: "";
            background-color: rgba(218, 220, 227, 0.8);
            display: block;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
        }
    }
    &-list {
        background-image: url("../img/background/list-header.png");
    }
    &-one {
        background-color: var(--bg-one);
    }
    &-two {
        background-color: var(--bg-two);
    }
}

.bg-estate {
    background-image: url("../img/background/discovery.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.these-cities {
    &-image {
        &-big,
        &-small {
            display: flex;
            position: relative;
            width: 100%;
            img {
                height: 100%;
                min-height: 100%;
                width: 100%;
                min-width: 100%;
                object-fit: cover;
                border-radius: 16px;
            }
        }
        &-content {
            --content-space: 5%;
            position: absolute;
            bottom: var(--content-space);
            left: var(--content-space);
            right: var(--content-space);
            width: calc(100% - (var(--content-space) * 2));
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(15px);
            padding: 20px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            line-height: 100%;
            color: #ffffff;
        }
    }
}

footer {
    background-color: #f2f1f1;
}

.property-card {
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    transition: all 150ms;
    &-image {
        position: relative;
        &-tag {
            display: flex;
            gap: 10px;
            position: absolute;
            left: 20px;
            top: 20px;
            a {
                display: inline-block;
                padding: 5px 10px;
                border-radius: 30px;
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: 600;
                text-decoration: none;
                opacity: 0.85;
                transition: all 150ms;
                &:hover {
                    opacity: 1;
                }
            }
        }
        img {
            border-radius: 16px 16px 0 0;
        }
    }
    &-content {
        padding: 20px;
        &-top {
            border-bottom: 1px solid #e9e9e9;
            padding-bottom: 10px;
            margin-bottom: 10px;
            &-title {
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 100%;
                margin-bottom: 7px;
                color: #1a1a1a;
                text-decoration: none;
            }
            &-address {
                font-size: 0.9rem;
                display: flex;
                align-items: center;
                gap: 3px;
                margin-bottom: 15px;
            }
            &-feature {
                border: 1px solid #e9e9e9;
                border-radius: 30rem;
                padding: 4px 16px;
                font-size: 0.85rem;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-price {
                display: flex;
                align-items: flex-end;
                color: #eb664e;
                span {
                    font-size: 1.1rem;
                    font-weight: 600;
                    line-height: 100%;
                }
                small {
                    font-size: 0.85rem;
                    line-height: 120%;
                }
            }
            &-favorite {
                border: 1px solid #e9e9e9;
                border-radius: 50%;
                padding: 12px;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 100ms;
                &:hover,
                &.active {
                    border-color: #eb664e;
                    .icon {
                        background-image: url("../img/icon/favorite-active.svg");
                    }
                }
            }
        }
    }
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
    }
}

.property-filter {
    --filter-top: 110px;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    position: sticky;
    position: -webkit-sticky;
    top: var(--filter-top);
    height: calc(100dvh - (var(--filter-top) + 40px));
    padding: 15px;
    &-content {
        border-bottom: 1px solid #c0cbc9;
        margin-bottom: 10px;
        padding-bottom: 10px;
        &-title {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 5px;
        }
        &-elements {
            .filter-link {
                display: block;
                text-decoration: none;
                color: #667573;
                transition: padding-left 150ms, color 400ms;
                &:hover {
                    color: var(--bg-one-hover);
                    padding-left: 15px;
                }
            }
            .form-check {
                padding-left: 0;
                label {
                    display: block;
                    border-radius: 8px;
                    padding: 5px 10px;
                    font-weight: 500;
                }
                input[type="checkbox"],
                input[type="radio"] {
                    display: none;
                    &:checked + label {
                        background-color: #c6df92;
                    }
                }
            }
        }
    }
}